html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
  width: 25em;
  margin: 0 auto;
  padding: 0.5em 0;

  height: 100vh;

  font-family: palatino;
  background-color: darkblue;
  text-align: center;
}

button {
  font-size: 24px;
  font-family: palatino;
}
li {
  background-color: lightblue;
  text-color:darkblue;
}

img {
  max-width: 60%;
}
